@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
body{
    font-family: 'Playfair Display', serif;
    padding :0px;
    margin: 0px;
    width: 100%;
}


@media only screen and (max-width: 770px) {
    #f2 {
        padding: 4%;
    }
    
    #f1 {
        padding: 4%;
    }

    #f3 {
        padding: 4%;
    }

    .sk {
        margin-left: 3%;
        margin-right: 3%;
    }

    .ser-cd{
        height: 15rem !important;
        
        
    }

    .vertical-centre{
        font-size: small !important;
    }

    .ser-hd{
        font-size: xx-large !important;
    }

    #info{
        font-size: small !important;
    }

    #content-desktop {
        display: none;
        
    }

    #content-mobile {
        display: block;
    }

    

}

@media only screen and (max-width: 430px) {

.desk{
    background-image: url('/static/img/home/mobile_homepage.jpg')

    }

}



