html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: black;
}

.example::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .example {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

body {
    /* font-family: "Helvetica Neue",sans-serif; */
    /* font-weight: lighter; */
    background-color: black;
    color: black;
    overflow-x: hidden;
}

.carousel-item {
    height: 100vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


.navbar{
    background-color:rgba(0, 0, 0, 0.4);
	letter-spacing: 2px;
}
.navbar li{
	display: inline-block;
}
.nav-item{
	text-align: end;
}
#footer {
    position:relative;
    bottom: 1;
    width: 100%;
    height: 15rem;
  }


  h2{
    text-align:center;
    padding: 20px;
  }
  /* Slider */
  
  .slick-slide {
      margin: 0px 20px;
  }
  
  .slick-slide img {
      width: 100%;
  }
  
  .slick-slider
  {
      position: relative;
      display: block;
      box-sizing: border-box;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
              user-select: none;
      -webkit-touch-callout: none;
      -khtml-user-select: none;
      -ms-touch-action: pan-y;
          touch-action: pan-y;
      -webkit-tap-highlight-color: transparent;
  }
  
  .slick-list
  {
      position: relative;
      display: block;
      overflow: hidden;
      margin: 0;
      padding: 0;
  }
  .slick-list:focus
  {
      outline: none;
  }
  .slick-list.dragging
  {
      cursor: pointer;
      cursor: hand;
  }
  
  .slick-slider .slick-track,
  .slick-slider .slick-list
  {
      -webkit-transform: translate3d(0, 0, 0);
         -moz-transform: translate3d(0, 0, 0);
          -ms-transform: translate3d(0, 0, 0);
           -o-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
  }
  
  .slick-track
  {
      position: relative;
      top: 0;
      left: 0;
      display: block;
  }
  .slick-track:before,
  .slick-track:after
  {
      display: table;
      content: '';
  }
  .slick-track:after
  {
      clear: both;
  }
  .slick-loading .slick-track
  {
      visibility: hidden;
  }
  
  .slick-slide
  {
      display: none;
      float: left;
      height: 100%;
      min-height: 1px;
  }
  [dir='rtl'] .slick-slide
  {
      float: right;
  }
  .slick-slide img
  {
      display: block;
  }
  .slick-slide.slick-loading img
  {
      display: none;
  }
  .slick-slide.dragging img
  {
      pointer-events: none;
  }
  .slick-initialized .slick-slide
  {
      display: block;
  }
  .slick-loading .slick-slide
  {
      visibility: hidden;
  }
  .slick-vertical .slick-slide
  {
      display: block;
      height: auto;
      border: 1px solid transparent;
  }
  .slick-arrow.slick-hidden {
      display: none;
  }

.logo-note{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50% ;
    height: 10rem;
}

.logo img{
	width:47px;
}

@media only screen and (max-width: 600px) {
    .logo-note{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 40% !important;
        height: 10rem;
    }
    .slide img{
        height: 40rem;
        width: 100%;
    }
}

@media only screen and (max-width:420px) and (min-width: 600px) {
    .logo-note{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 30% !important;
        height: 10rem;
    }
}

@media only screen and (max-width: 935px) and (min-width: 600px) {
    .logo-note{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 16% !important;
        height: 10rem;
    }
}


@media only screen and (max-width: 600px) {
    .l,.r{
        margin-bottom: 10%;
        border-right: none !important;
    }   
  }

.counter {
    animation-duration: 1s;
    animation-delay: 0s;
}

.cnt{
    text-align: center;
    padding-bottom: 50px;
    border-right: 1px dashed black;
}

.cnt:last-child {
    border-right: 0px solid black;
}

@media (max-width: 991px) {
    .cnt {
      border-right: 0px dashed black;
      border-bottom: 1px dashed black;
      width: 50%;
      margin: auto auto;
    }
    
    .cnt:last-child {
      border-bottom: 0px dashed black;
    }
    
}


.progress-bar-animation>* {
	animation: progress 1.5s ease-in-out forwards;
	transform-origin: left;
}

@keyframes progress {
	0% {
		transform: scaleX(0);;
	}
	100% {
		transform: scaleX(1);;
	}
}
@-webkit-keyframes progress {
	0% {
		transform: scaleX(0);;
	}
	100% {
		transform: scaleX(1);;
	}
}


summary {
    /* font-size: 1.25rem; */
    /* font-weight: 600; */
    background-color: #fff;
    /* color: #333; */
    padding: 1rem;
    /* margin-bottom: 1rem; */
    outline: none;
    border-radius: 0.25rem;
    text-align: left;
    cursor: pointer;
    position: relative;
    font-weight: 600;
  }
  details > summary::after {
    position: absolute;
    content: "+";
    right: 20px;
  }
  details[open] > summary::after {
    position: absolute;
    content: "-";
    right: 20px;
  }
  details > summary::-webkit-details-marker {
    display: none;
  }
  details[open] summary ~ * {
    animation: sweep .5s ease-in-out;
  }
  @keyframes sweep {
    0%    {opacity: 0; margin-top: -10px}
    100%  {opacity: 1; margin-top: 0px}
}

.cat {
    font-size: large ;
}

.counter-value{
    font-size: large ;
}

.c-no{height:150px;}
.counter-Txt{text-align:center; margin-top:20px;}
@media(min-width:320px) and (max-width:767px){ 
.c-no{height:100%;}
.counter-Txt{margin-top:35px;}
.margin-bot-35{margin-bottom:35px;}
}

@media only screen and (min-width:767px) and (max-width:993px){
    .cat {
        font-size: small;
    }
    .counter-value{
        font-size: small ;
    }
    .kplus{
        font-size: small ;
    }
}

.progress {
    background-color:#5c5c5c !important;
    -webkit-box-shadow: none;
    box-shadow: none;
  }