<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    <link rel="stylesheet" href="../static/css/mobile.css">
    <link rel="stylesheet" href="./static/node_modules/aos/dist/aos.css" />
    <link rel="stylesheet" href="./static/css/contact.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="./static/js/contact.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog==" crossorigin="anonymous" />
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body style="background-color: black; font-family: 'Playfair Display', serif;">

  <nav class="navbar navbar-expand-lg navbar-transparent navbar-dark fixed-top" style="color: aliceblue;" data-ride="carousel" data-aos="fade-down" data-aos-duration="1000">
    <div class="container" data-ride="carousel" data-aos="fade-down" data-aos-duration="1000">
      <a class="navbar-brand logo" href="#" ><img src="./static/img/vintage_studios_logo.png" alt=""></a>
      <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive" data-ride="carousel" data-aos="fade-down" data-aos-duration="1000">
        <ul class="navbar-nav ml-auto" >
          <li class="nav-item mr-4">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item mr-4">
            <a class="nav-link" href="/about">About</a>
          </li>
          <li class="nav-item mr-4">
            <a class="nav-link" href="/services">Services</a>
          </li>
          <li class="nav-item mr-4">
            <a class="nav-link" href="/gallery">Gallery</a>
          </li>
          <li class="nav-item active mr-4">
            <a class="nav-link" href="/contact">Contact
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <!-- <li class="nav-item mr-4">
            <a class="nav-link" href="#">PhotoStudio </a>
          </li> -->
        </ul>
      </div>
    </div>
  </nav>

    <div>
      <div style="background-image:url('https://images.squarespace-cdn.com/content/v1/58a5b151ff7c50c87f2bec90/1488225966465-0HJNTN5U0TFPAPWE5GII/ke17ZwdGBToddI8pDm48kFpMX3xNTiJ3K2ARERDRu9d7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z4YTzHvnKhyp6Da-NYroOW3ZGjoBKy3azqku80C789l0jAoOkRmPE63FUjiJOEKAz6CWiIXCa_EZdV2f9jqcEhicpkgyNdjLnHuUHgFJG3ySQ/contact_us_background2.jpg?format=1500w'); width: 100%; height: 100vh; background-position: center center; background-repeat: no-repeat; background-size: cover;" data-ride="carousel" data-aos="fade-up" data-aos-duration="1000">
    
    </div> 
        
        <div class="content">
            <br>

            <h2 class="text-white text-center pb-3">Enquire</h2>
        <div class="container mt-4" data-aos="fade-right" data-aos-duration="1000">
        <script type="text/javascript">var submitted=false;</script>
        <iframe name="hidden_iframe" id="hidden_iframe" style="display:none;" onload="if(submitted){window.location.reload()}" ></iframe>
        <form action="https://docs.google.com/forms/u/1/d/e/1FAIpQLSftiBkpFR1tcIdIQOajkvQCCOkVn_4KzyXCrUECaY5soesaNA/formResponse" method="POST" target="hidden_iframe" onsubmit="submitted=true;" style="margin-left: auto; margin-right:auto ; width: 80%;">
          <div class="container">
            <div class="row">
              <div class="form-group col-sm">
                <label for="exampleFormControlInput1">First Name</label>
                <input class="form-control form-control-sm" id="exampleFormControlInput1" type="text" name="entry.381047451" required>
              </div>
              <div class="form-group col-sm">
                <label for="exampleFormControlInput2">Last Name</label>
                <input class="form-control form-control-sm" id="exampleFormControlInput2" type="text" name="entry.381047451" required>
              </div>
              <div class="form-group col-sm">
                <label for="exampleFormControlInput3">Email</label>
                <input class="form-control form-control-sm" id="exampleFormControlInput3" type="text" name="entry.728052973" required>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-sm">
                <label for="exampleFormControlInput3">Phone Number</label>
                <input class="form-control form-control-sm" id="exampleFormControlInput3" type="text" name="entry.1456535942"  required>
              </div>
              <div class="form-group col-sm">
                <label for="exampleFormControlInput4">Company Name</label>
                <input class="form-control form-control-sm" id="exampleFormControlInput4" type="text" name="entry.1456535942"  required>
              </div>
              <div class="form-group col-sm">
                <label for="exampleFormControlInput5">Service Required</label>
                <input class="form-control form-control-sm" id="exampleFormControlInput5" type="text" name="entry.1456535942"  required>
              </div>
            </div>
            <div class="form-group">
              <label for="exampleFormControlTextarea1">Your Message</label>
              <textarea class="form-control form-control-sm" id="exampleFormControlTextarea1" rows="4" name="entry.1265380441" required></textarea>
            </div>
            <div class="text-center pt-4">
              <button type="submit" class="btn text-center" style="background-color: rgb(250, 234, 203); color:black; max-width: 100%; ">Submit</button>
            </div>
          </div>
        </form>
        </div> 
        
         </div>
        
      </div> 

      <div class="" style="background-color: #000000; width:100%;text-align:center;padding:30px; margin-top: 5%;">
        <div class="p-4" style="background-color: #000000;width:100%;padding:3px;margin:0 auto">
          <h2 class="text-white text-center p-2 pb-5">Office Hours</h2>
            <div class="row">
              <div class="col-md">
                <h5 class="text-white pb-3">Open during Covid</h5>
                <p class="" style="color: #ffffffb6;">
                  Due to ongoing COVID-19 restrictions, our team works predominantly from home, but all our employees are on-hand and available to support you and your business.
                </p>
              </div>
              <div class="col-md">
                <h5 class="text-white pb-3">We're open</h5>
                <p class="" style="color: #ffffffb6;">
                  Monday - Friday 9am - 5pm<br>
                  Weekends Closed
                </p>
              </div>
            </div>
        </div>
      </div>

      <section class="footer" style="background-color: black; color:white; margin-top: 5%;" id="footer" >
        <footer class="page-footer font-small stylish-color-dark " style="background-color: black; color:white;">
          <div class="" style="background-color: #101010;width:100%;text-align:center;padding:25px; margin-top: 5%;">
            <div class="pt-3" style="background-color: #181818;width:100%;padding:0px;margin:0 auto">
            <div class="row mt-4">
              <div class="col-md-4 text-center" id="f1">
                <a class="" href=""><img src="./static/img/vintage_studios_logo.png" alt="" style="width: 40%; padding-right: 0px;"></a>
              </div>
    
              <div class="col-md-4  text-center" id="f2">
                <p style="color: white;">GET IN TOUCH</p>
    
                  <p style="color: white; font-size: 90%">Let's start a conversation about what your perfect experience would be. 
                    Let's make that dream a reality !! </p>
                  <div class="row " style="justify-content: space-evenly;">
                  <a type="submit" class="btn text-center mt-3 " style="background-color: rgba(255, 255, 255, 0.767); color:rgba(24,18,11,1); max-width: calc(100%-50px); width: 38% ;" onMouseOver="this.style.backgroundColor='white'" onMouseOut="this.style.backgroundColor='rgba(255, 255, 255, 0.767)'" href="/contact">Contact Us</a>
                  <a type="submit" class="btn text-center mt-3 " style="background-color: rgba(255, 255, 255, 0.767); color:rgba(24,18,11,1); max-width: calc(100%-50px); width: 38% ;" onMouseOver="this.style.backgroundColor='white'" onMouseOut="this.style.backgroundColor='rgba(255, 255, 255, 0.767)'" href="/pay_info">Pay now</a>
    
                </div>
                <div class="footer-copyright text-center py-3">
                  <!-- <hr style="background-color: white;"> -->
                  <p class="mt-1">©️ 2021 All Rights Reserved. <br> <a href="/terms">Terms of Use</a>  &  <a href="/privacy"> Privacy Policy</a></p>
          
                </div>
              </div>
              
              <div class="col-md-4 text-center" id="f3">
              
                <ul class="list-unstyled list-inline text-center" >
                  <li class="list-inline-item">
                    <a class="btn-floating btn-fb mx-1" href="https://www.facebook.com/vintagestudios.in/">
                      <i class="fab fa-facebook fa-2x" style="color: rgba(255, 255, 255, 0.767);" onMouseOver="this.style.color='white'" onMouseOut="this.style.color='rgba(255, 255, 255, 0.767)'"> </i>
                    </a>
                  </li>
                   <li class="list-inline-item" >
                  <a class="btn-floating btn-dribbble mx-1" href="https://www.instagram.com/vintagestudios.in/">
                    <i class="fab fa-instagram fa-2x" style="color: rgba(255, 255, 255, 0.767);" onMouseOver="this.style.color='white'" onMouseOut="this.style.color='rgba(255, 255, 255, 0.767)'"> </i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a class="btn-floating btn-dribbble mx-1" href="https://www.youtube.com/channel/UC3NOydGfYLP5g67RBAwumAw/featured">
                    <i class="fab fa-youtube fa-2x" style="color: rgba(255, 255, 255, 0.767);" onMouseOver="this.style.color='white'" onMouseOut="this.style.color='rgba(255, 255, 255, 0.767)'"> </i>
                  </a>
                </li>  
                
                <li class="list-inline-item">
                  <a class="btn-floating btn-fb mx-1" href="https://wa.me/+918007022022" target="_blank">
                    <i class="fab fa-whatsapp fa-2x" style="color: rgba(255, 255, 255, 0.767);" onMouseOver="this.style.color='white'" onMouseOut="this.style.color='rgba(255, 255, 255, 0.767)'"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a class="btn-floating btn-fb mx-1" href="https://www.vimeo.com/vintagestudiosproduction" target="_blank">
                    <i class="fab fa-vimeo-v fa-2x" style="color: rgba(255, 255, 255, 0.767);" onMouseOver="this.style.color='white'" onMouseOut="this.style.color='rgba(255, 255, 255, 0.767)'"></i>
                  </a>
                </li>
                </ul>
                <p style="color: white; font-size: 90%; text-decoration: none;"><a href = "/contact" style="text-decoration: none !important; color: white"><i class="fas fa-map-marker mx-0"></i> Pune, Maharashtra, India</a> </p>
                
                <p style="color: white; font-size: 90%; text-decoration: none;"><a href = "mailto: info@vintagestudios.in" style="text-decoration: none !important; color: white;"><i class="fas fa-envelope mx-0"></i>  info@vintagestudios.in</a> </p>
                <a href="https://g.page/vintagestudios_in/review?rc" style="text-decoration: none;"><img src="./static/img/google.png" alt="" style="width: 20%; padding-right: 0px;"></a>
                <!-- <a href="whatsapp://send?abid=8652194061&text=Hello%2C%20World!" style="text-decoration: none; color: white;"></i></a> -->
              </div>
            </div>
        
            </div>
          </div>
      </footer>
    </section>
    <script src="./static/node_modules/aos/dist/aos.js"></script>
    <script>
      AOS.init();
</script>    
</body>
</html>