<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vintage Studios</title>
    <link rel="stylesheet" href="../static/node_modules/aos/dist/aos.css" />
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/mobile.css">
    <script src="../static/js/main.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://stack path.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7JpAgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js" integrity="sha384-LtrjvnR4Twt/qOuYxE721u19sVFLVSA4hf/rRt6PrZTmiPltdZcI7q7PXQBYTKyf" crossorigin="anonymous"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog==" crossorigin="anonymous" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    
</head >
<body style="color: black; background-color: black; margin: 0px; padding: 0px; font-family: 'Playfair Display', serif;">
  <nav class="navbar navbar-expand-lg navbar-transparent navbar-dark fixed-top" style="color: aliceblue;" data-ride="carousel" data-aos="fade-down" data-aos-duration="1000">
    <div class="container" data-ride="carousel" data-aos="fade-down" data-aos-duration="1000">
      <a class="navbar-brand logo" href="#" ><img src="../static/img/vintage_studios_logo.png" alt=""></a>
      <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive" data-ride="carousel" data-aos="fade-down" data-aos-duration="1000">
        <ul class="navbar-nav ml-auto" >
          <li class="nav-item mr-4">
            <a class="nav-link active" href="/">Home</a>
          </li>
          <li class="nav-item mr-4">
            <a class="nav-link" href="/about">About</a>
          </li>
          <li class="nav-item mr-4">
            <a class="nav-link" href="/services">Services</a>
          </li>
          <li class="nav-item mr-4">
            <a class="nav-link" href="/contact">Contact
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item mr-4">
            <a class="nav-link" href="/gallery">Gallery</a>
          </li>
          <!-- <li class="nav-item mr-4">
            <a class="nav-link" href="#">PhotoStudio </a>
          </li> -->
        </ul>
      </div>
    </div>
  </nav>

  
  <header>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-aos="fade-down" data-aos-duration="1000">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <!-- Slide One - Set the background image for this slide in the line below -->
        <div class="carousel-item active" style="background-image: url('../static/img/about.jpg')">
        </div>
        <!-- Slide Two - Set the background image for this slide in the line below -->
        <div class="carousel-item" style="background-image: url('https://lumephotography.com/wp-content/uploads/2017/11/marquette-michigan-wedding_lume-photography-3.jpg')">
        </div>
        <!-- Slide Three - Set the background image for this slide in the line below -->
        <div class="carousel-item" style="background-image: url('https://lumephotography.com/wp-content/uploads/2017/11/silver-lake-sand-dunes-elopement-portrait.jpg')">
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
    </div>
  </header>
  
  <!-- Page Content rgba(24,18,11,1) -->
  <div data-aos="fade-up" data-aos-duration="1000">
  <section class="py-5 mb-3" style="margin-bottom: 5% !important;" >
    <img class="logo-note" src="../static/img/vintage_studios_logo.png" alt="" style="width: 10%; height: auto;">
    <p class="text-white mt-3 text-center" style="background-color: black; margin-left: 20%; margin-right: 20%;">We here at Vintage Studios are making photographs to understand what our lives mean to us, thus cherishing your precious moments.</p>
  </div>

  </section>
    <div class="c-no container-fluid" style="padding-bottom: 6%;">
      <div class="container">
          <div class="row" id="counter">
            <div class="col-md-3 text-white counter-Txt" >
              <p class="kplus"><span class="counter-value" data-count="6">0</span>+</p>
              <p class="cat">Years of Experience</p>
              <i class="fas fa-trophy fa-2x mt-2"></i>
            </div>
            <div class="col-md-3 text-white counter-Txt" >
              <p class="kplus"><span class="counter-value" data-count="100">0</span>K+</p>
              <p class="cat">Shutters released</p>
              <i class="large material-icons" style="font-size: 2.8rem;">camera</i>
            <!-- <i class="fas fa-camera-retro fa-2x mt-2"></i> -->
            </div>  
            <div class="col-md-3 text-white counter-Txt" >
              <p class="kplus"><span class="counter-value" data-count="50">0</span>+</p>
              <p class="cat">Happy annual clients</p>
              <i class="fas fa-user-plus fa-2x mt-2"></i>
            </div> 
            <div class="col-md-3 text-white counter-Txt" >
              <p class="kplus"><span class="counter-value" data-count="5">0</span>K+</p>
              <p class="cat">Editing hours</p>
                <i class="fas fa-laptop fa-2x mt-2"></i>
            </div> 
            </div>
        </div>
    </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.js"></script>

  <div class="container"style="padding-bottom:5%; margin-bottom:2%; padding-top:2%">
    <h2 class="text-white text-center">Our Clients</h2>
     <section class="customer-logos slider pt-4">
        <div class="slide" ><img src="../static/img/clients/client9.png" style="height: 6rem;"></div>
        <div class="slide" ><img src="../static/img/clients/client8.svg" style="height: 6rem;"></div>
        <div class="slide" ><img src="../static/img/clients/client11.jpg" style="height: 6rem;"></div>
        <div class="slide" ><img src="../static/img/clients/client14.png" style="height: 6rem;"></div>
        <div class="slide" ><img src="../static/img/clients/client12.jpg" style="height: 6rem;"></div>
        <div class="slide" ><img src="../static/img/clients/client15.jpg" style="height: 6rem;"></div>
        <div class="slide" ><img src="../static/img/clients/client1.jpeg" style="height: 6rem;"></div>
        <div class="slide" ><img src="../static/img/clients/client2.jpg" style="height: 6rem;"></div>
        <div class="slide" ><img src="../static/img/clients/client4.png" style="height: 6rem;"></div>
        <div class="slide" ><img src="../static/img/clients/client3.jpg" style="height: 6rem;"></div>
        <div class="slide" ><img src="../static/img/clients/client5-removebg-preview.png" style="height: 6rem;"></div>
        <div class="slide" ><img src="../static/img/clients/client6.jpg" style="height: 6rem;"></div>
        <div class="slide" ><img src="../static/img/clients/client7-removebg-preview.png" style="height: 6rem;"></div>
        <div class="slide" ><img src="../static/img/clients/client17.png" style="height: 6rem;"></div>
        <div class="slide" ><img src="../static/img/clients/trucura-logo-removebg-preview.png" style="height: 6rem;"></div>
        <div class="slide" ><img src="../static/img/clients/client10.png" style="height: 6rem;"></div>
     </section>
  </div>

  <div class="container">
    <div class="row">
<div class="col-md-6">
  <h2 class="text-white text-center">FAQ</h2>
  <details>
    <summary class="text-white" style="background-color: black;">What type of visual work do you specialise in ?</summary>
    <div class="faq__content text-white">
      <p style="padding :1rem;">We specialise in product & interior photography, also with great cinematic videography skills.</p>
    </div>
  </details>
  <details>
    <summary class="text-white" style="background-color: black;">Which areas do you provide photography services?</summary>
    <div class="faq__content text-white" >
      <p style="padding :1rem;">We provide services Pan India & Globally as well. Our base is in Pune, India. 
      Travel charges applicable as per location, local shoots are travel charge free.</p>
    </div>
  </details>
  <details>
    <summary class="text-white" style="background-color: black;">When does the service needs to be booked?</summary>
    <div class="faq__content text-white" >
      <p style="padding :1rem;">You need to book a prior date for your selected service at least a week before. 
        Urgent booking slots are subject to availability and might be charged extra.*
        </p>
    </div>
  </details>
  <details>
    <summary class="text-white" style="background-color: black;">What are the payment terms?</summary>
    <div class="faq__content text-white" >
      <p style="padding :1rem;">Advance payment 25% of the total service charges if the amount is above ₹20,000 or 50% of the total service charges if the total amount is below ₹20,000 to secure the date and time. 
        Or you may choose to settle it all at booking time itself.
        Remaining payment to be completed after the shoot, prior to photo/video delivery. 
        Repeat clients may be able to arrange a credit account* depends upon the service requirement.
        </p>
    </div>
  </details>
</div>

      <div  class="col-md-6 sk" >
        <h2 class="text-white text-center">Skills</h2>
        <div class="row pl-3 pr-3" style="justify-content: space-between;">
          <h6 class="text-white">Photography</h6>
          <h6 class="text-white">98%</h6>
        </div>
        <div class="progress progress-bar-animation" style="margin-bottom: 3%; height: 0.2rem ;">
          <div class="progress-bar" role="progressbar" aria-valuenow="98" aria-valuemin="0" aria-valuemax="100" style="width: 98%; background-color: white;"></div>
        </div>
         <div class="row pl-3 pr-3" style="justify-content: space-between;">
          <h6 class="text-white">Cinematography</h6>
          <h6 class="text-white">95%</h6>
        </div>
        <div class="progress progress-bar-animation" style="margin-bottom: 3%; height: 0.2rem ;">
          <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" style="width: 95%;"></div>
        </div>
        <div class="row pl-3 pr-3" style="justify-content: space-between;">
        <h6 class="text-white">Creativity</h6>
        <h6 class="text-white">90%</h6>
        </div>
        <div class="progress progress-bar-animation" style="margin-bottom: 3%; height: 0.2rem ;">
          <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%; background-color: white;"></div>
        </div>
        <div class="row pl-3 pr-3" style="justify-content: space-between;">
        <h6 class="text-white">Passion</h6>
        <h6 class="text-white">100%</h6>
      </div>
        <div class="progress progress-bar-animation" style="margin-bottom: 3%; height: 0.2rem ; " >
          <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
        </div>
        <div class="row pl-3 pr-3" style="justify-content: space-between;">
        <h6 class="text-white">Editing & retouching</h6>
        <h6 class="text-white">81%</h6>
      </div>
        <div class="progress progress-bar-animation" style="margin-bottom: 3%; height: 0.2rem ;">
          <div class="progress-bar" role="progressbar" aria-valuenow="81" aria-valuemin="0" aria-valuemax="100" style="width: 81%; background-color: white;"></div>
        </div>
      </div>
    </div>
  </div>


  <section class="footer" style="background-color: black; color:white; margin-top: 5%;" id="footer" >
    <footer class="page-footer font-small stylish-color-dark " style="background-color: black; color:white;">
      <div class="" style="background-color: #101010;width:100%;text-align:center;padding:25px; margin-top: 5%;">
        <div class="pt-3" style="background-color: #181818;width:100%;padding:0px;margin:0 auto">
        <div class="row mt-4">
          <div class="col-md-4 text-center" id="f1">
            <a class="" href=""><img src="./static/img/vintage_studios_logo.png" alt="" style="width: 40%; padding-right: 0px;"></a>
          </div>

          <div class="col-md-4  text-center" id="f2">
            <p style="color: white;">GET IN TOUCH</p>

              <p style="color: white; font-size: 90%">Let's start a conversation about what your perfect experience would be. 
                Let's make that dream a reality !! </p>
              <div class="row " style="justify-content: space-evenly;">
              <a type="submit" class="btn text-center mt-3 " style="background-color: rgba(255, 255, 255, 0.767); color:rgba(24,18,11,1); max-width: calc(100%-50px); width: 38% ;" onMouseOver="this.style.backgroundColor='white'" onMouseOut="this.style.backgroundColor='rgba(255, 255, 255, 0.767)'" href="/contact">Contact Us</a>
              <a type="submit" class="btn text-center mt-3 " style="background-color: rgba(255, 255, 255, 0.767); color:rgba(24,18,11,1); max-width: calc(100%-50px); width: 38% ;" onMouseOver="this.style.backgroundColor='white'" onMouseOut="this.style.backgroundColor='rgba(255, 255, 255, 0.767)'" href="/pay_info">Pay now</a>

            </div>
            <div class="footer-copyright text-center py-3">
              <!-- <hr style="background-color: white;"> -->
              <p class="mt-1">©️ 2021 All Rights Reserved. <br> <a href="/terms">Terms of Use</a>  &  <a href="/privacy"> Privacy Policy</a></p>
      
            </div>
          </div>
          
          <div class="col-md-4 text-center" id="f3">
          
            <ul class="list-unstyled list-inline text-center" >
              <li class="list-inline-item">
                <a class="btn-floating btn-fb mx-1" href="https://www.facebook.com/vintagestudios.in/">
                  <i class="fab fa-facebook fa-2x" style="color: rgba(255, 255, 255, 0.767);" onMouseOver="this.style.color='white'" onMouseOut="this.style.color='rgba(255, 255, 255, 0.767)'"> </i>
                </a>
              </li>
               <li class="list-inline-item" >
              <a class="btn-floating btn-dribbble mx-1" href="https://www.instagram.com/vintagestudios.in/">
                <i class="fab fa-instagram fa-2x" style="color: rgba(255, 255, 255, 0.767);" onMouseOver="this.style.color='white'" onMouseOut="this.style.color='rgba(255, 255, 255, 0.767)'"> </i>
              </a>
            </li>
            <li class="list-inline-item">
              <a class="btn-floating btn-dribbble mx-1" href="https://www.youtube.com/channel/UC3NOydGfYLP5g67RBAwumAw/featured">
                <i class="fab fa-youtube fa-2x" style="color: rgba(255, 255, 255, 0.767);" onMouseOver="this.style.color='white'" onMouseOut="this.style.color='rgba(255, 255, 255, 0.767)'"> </i>
              </a>
            </li>  
            
            <li class="list-inline-item">
              <a class="btn-floating btn-fb mx-1" href="https://wa.me/+918007022022" target="_blank">
                <i class="fab fa-whatsapp fa-2x" style="color: rgba(255, 255, 255, 0.767);" onMouseOver="this.style.color='white'" onMouseOut="this.style.color='rgba(255, 255, 255, 0.767)'"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a class="btn-floating btn-fb mx-1" href="https://www.vimeo.com/vintagestudiosproduction" target="_blank">
                <i class="fab fa-vimeo-v fa-2x" style="color: rgba(255, 255, 255, 0.767);" onMouseOver="this.style.color='white'" onMouseOut="this.style.color='rgba(255, 255, 255, 0.767)'"></i>
              </a>
            </li>
            </ul>
            <p style="color: white; font-size: 90%; text-decoration: none;"><a href = "/contact" style="text-decoration: none !important; color: white"><i class="fas fa-map-marker mx-0"></i> Pune, Maharashtra, India</a> </p>
            
            <p style="color: white; font-size: 90%; text-decoration: none;"><a href = "mailto: info@vintagestudios.in" style="text-decoration: none !important; color: white;"><i class="fas fa-envelope mx-0"></i>  info@vintagestudios.in</a> </p>
            <a href="https://g.page/vintagestudios_in/review?rc" style="text-decoration: none;"><img src="./static/img/google.png" alt="" style="width: 20%; padding-right: 0px;"></a>
            <!-- <a href="whatsapp://send?abid=8652194061&text=Hello%2C%20World!" style="text-decoration: none; color: white;"></i></a> -->
          </div>
        </div>
    
        </div>
      </div>
  </footer>
</section>  <!-- <a href="whatsapp://send?abid=8652194061&text=Hello%2C%20World!" style="text-decoration: none; color: white;"></i></a> -->
            </div>
          </div>
      
          </div>
        </div>
    </footer>
  </section>
  </div>

<script>
$('.carousel').carousel({
  pause: "false" 
});
</script>

<script>
  $(document).ready(function(){
$('.customer-logos').slick({
    slidesToShow: 6,
    slidesToScroll: 1,
    autoplay: true,
    autoplaySpeed: 1500,
    arrows: false,
    dots: false,
    pauseOnHover: false,
    responsive: [{
        breakpoint: 768,
        settings: {
            slidesToShow: 4
        }
    }, {
        breakpoint: 520,
        settings: {
            slidesToShow: 2
        }
    },
    {
        breakpoint: 600,
        settings: {
            slidesToShow: 2
        }
      }
  ]
});
});
</script>
<script>
  var a = 0;
$(window).scroll(function() {

  var oTop = $('#counter').offset().top - window.innerHeight;
  if (a == 0 && $(window).scrollTop() > oTop) {
    $('.counter-value').each(function() {
      var $this = $(this),
        countTo = $this.attr('data-count');
      $({
        countNum: $this.text()
      }).animate({
          countNum: countTo
        },

        {

          duration: 3500,
          easing: 'swing',
          step: function() {
            $this.text(Math.floor(this.countNum));
          },
          complete: function() {
            $this.text(this.countNum);
            //alert('finished');
          }

        });
    });
    a = 1;
  }

});
</script>
<script src="../static/node_modules/aos/dist/aos.js"></script>

<script>
  AOS.init();
</script>

</body>
</html>

   
