<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Privacy</title>
</head>
<body>
    <h4>Privacy Policy</h4>
    <p>SECTION 1 - WHAT DO WE DO WITH YOUR INFORMATION?</p>
    <p>
        We and our partners store and/or access information on a device,
        such as cookies and process personal data, such as unique identifiers
        and standard information sent by a device for personalised ads and content, ad and content measurement, 
        and audience insights, as well as to develop and improve products.
        With your permission we and our partners may use precise geolocation data   
        and identification through device scanning. You may click to consent to our 
        and our partners’ processing as described above. Alternatively you may access more 
        detailed information and change your preferences before consenting or to refuse consenting.
        Please note that some processing of your personal data may not require your consent, 
        but you have a right to object to such processing. Your preferences will apply to this website only.
        You can change your preferences at any time by returning to this site or visit our privacy policy.
    </p>
    <p>SECTION 2 - CONSENT</p>
    <p>
        
    </p>
</body>
</html>