<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Terms and Conditions</title>
    <link rel="stylesheet" href="./static/node_modules/aos/dist/aos.css" />
    <link rel="stylesheet" href="./static/css/services.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="./static/js/contact.js"></script>
    <link rel="stylesheet" href="../static/css/mobile.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js" integrity="sha384-LtrjvnR4Twt/qOuYxE721u19sVFLVSA4hf/rRt6PrZTmiPltdZcI7q7PXQBYTKyf" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog==" crossorigin="anonymous" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Stylesheets -->
    <link rel="stylesheet" href="static/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="static/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="static/css/magnific-popup.css"/>
    <link rel="stylesheet" href="static/css/slicknav.min.css"/>
    <link rel="stylesheet" href="static/css/owl.carousel.min.css"/>

    <!-- Main Stylesheets -->
    <link rel="stylesheet" href="static/css/gallery.css"/>
    <style>
        html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: black;
    color: black;
    overflow-x: hidden;
}

.example::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.example {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.logo img{
	width:47px;
}
.navbar{
    background-color:rgba(0, 0, 0, 0.4);
      letter-spacing: 2px;
  }
  .nav-item{
      text-align: end;
  }
    </style>

</head>
<body style="background-color: black;">

  <nav class="navbar navbar-expand-lg navbar-transparent navbar-dark fixed-top" style="color: aliceblue;" data-ride="carousel" data-aos="fade-down" data-aos-duration="1000">
    <div class="container">
      <a class="navbar-brand logo" href="#"><img src="../static/img/vintage_studios_logo.png" alt=""></a>
      <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive" >
        <ul class="navbar-nav ml-auto" >
          <li class="nav-item mr-4">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item mr-4">
            <a class="nav-link" href="/about">About</a>
          </li>
          <li class="nav-item mr-4">
            <a class="nav-link" href="/services">Services</a>
            <span class="sr-only">(current)</span>
          </li>
          <li class="nav-item mr-4">
            <a class="nav-link" href="/contact">Contact</a>
          </li>
          <li class="nav-item mr-4">
            <a class="nav-link" href="/gallery">Gallery
            </a>
          </li>
          <!-- <li class="nav-item mr-4">
            <a class="nav-link" href="#">PhotoStudio </a>
          </li> -->
        </ul>
      </div>
    </div>
  </nav>

  <div class="container pt-5" style="padding-left:10%; padding-right: 10%;">
  <h4 class="text-white text-center pt-5">TERMS AND CONDITIONS</h4>
    <p class=" pt-4" style="color: rgba(255, 255, 255, 0.767);">
        This Agreement is by and between “Photographer” and “Client” which includes the Client’s employees and representatives. Client agrees that it has the legal authority to enter into this Agreement on behalf of its employer, company or organization. Photographer’s relationship with Client is that of an independent contractor. 
    </p>
    <h4 class="text-white text-center pt-3">COPYRIGHT</h4>
    <p class=" pt-4" style="color: rgba(255, 255, 255, 0.767);">
        The copyright Designs and Patents Acts assign the copyright of the images to the photographer.  
    </p>

    <h4 class="text-white text-center pt-3">DISPLAY</h4>
    <p class="pt-4" style="color: rgba(255, 255, 255, 0.767);">
        The client(s) hereby allow(s) the photographer to display any photograph covered by this contract and to generally promote the business in advertising, brochures, magazine articles, websites, sample albums etc. 
    </p>

    <h4 class="text-white text-center pt-3">CREATIVE LICENSE, COVERAGE AND REPRODUCTION</h4>
    <p class=" pt-4" style="color: rgba(255, 255, 255, 0.767);">
    <ul style="color: rgba(255, 255, 255, 0.767); list-style: disc;">
    <li>Photographs taken during the course of the event/service will be at the discretion of the photographer although every effort will be made to comply with the clients requirements.</li> <br>
    <li>Special requests are not binding instructions, although every effort is made to comply with the client's wishes. The Photographer/s will do their best to honour the requested photographs but do not undertake to guarantee any specific image nor incorporate any specific background, location or group arrangements due to changes in weather and the availability and willingness of subjects. </li> <br>
    <li>For a booking involving a religious ceremony or at certain venues, the photographer's movements are sometimes restricted by the official in charge. The area from which the photographer is able to cover the ceremony may not be the photographer's choice and the photographer cannot accept responsibility for any obstructed view should this be the case. </li> <br>
    <li>Due to a variety of lighting conditions and the limitations of digital sensors, some colours may alter throughout a set of photographs. </li> <br>
    <li>Although all equipment is checked regularly and reasonable steps are taken to ensure backup equipment is available, the photographer will not be responsible for photographs that are not produced due to technical failure. </li> <br>
    </ul>
    </p>

    <h4 class="text-white text-center pt-3">FAILURE TO PERFORM</h4>
    <p class=" pt-4" style="color: rgba(255, 255, 255, 0.767);">
    <ul style="color: rgba(255, 255, 255, 0.767); list-style: disc;">
    <li>In the very unlikely events of cancellation by the photographer or of total photographic failure, liability shall be limited to a full refund of any fees paid..</li> <br>
    <li>The photographer will endeavour to put the client(s) in touch with another photographer in the event they are unable to attend on the service date due to any cause beyond their reasonable control e.g. sudden illness, injury, victim of crime, flooding, traffic conditions, vehicle breakdown etc.  </li> <br>
    </ul>
    </p>

    <h4 class="text-white text-center pt-3">PERSONAL ACCIDENT</h4>
    <p class=" pt-4" style="color: rgba(255, 255, 255, 0.767);">
        Any directions issued to clients, their guests or employees during a photographic shoot are deemed to be at said person's own risk. The photographer cannot be held responsible for any personal accidents during a photographic shoot. 
    </p>

    <h4 class="text-white text-center pt-3">DELIVERY</h4>
    <p class=" pt-4" style="color: rgba(255, 255, 255, 0.767);">
        The photographer will endeavour to deliver digital negative files as quickly as possible. However this could take up to 1-2 weeks during busy periods.
    </p>

    <h4 class="text-white text-center pt-3">PAYEMENT POLICY</h4>
    <p class=" pt-4" style="color: rgba(255, 255, 255, 0.767);">
        Client(s) agrees to pay as per the selected(by client) payment module (only one) for their assignment signed between him and photographer. <br>
        Payment modules are as below <br>
        &nbsp; - One time complete payment <br>
        &nbsp; - Part Payments(50%-50%)
    </p>

    <h4 class="text-white text-center pt-3">One time complete payment:</h4>
    <p class=" pt-4" style="color: rgba(255, 255, 255, 0.767);">
    <ul style="color: rgba(255, 255, 255, 0.767); list-style: disc;">
    <li>A non-refundable booking fee or 20% of the package price whichever will be minimum will confirm your booking, as well as full acceptance of the terms and conditions as published on the photographer’s website. The booking fee will be deducted from the cost of the client’s chosen package when calculating the final balance due.</li> <br>
    <li>Payment module will be a full 100% amount in advance within 15 days of booking date (inclusive of the booking fee).</li> <br>
    </ul>
    </p>

    <h4 class="text-white text-center pt-3">Part Payment(50%-50%):</h4>
    <p class=" pt-4" style="color: rgba(255, 255, 255, 0.767);">
    <ul style="color: rgba(255, 255, 255, 0.767); list-style: disc;">
    <li>A non-refundable booking fee or 20% of the package price whichever will be minimum will confirm your booking, as well as full acceptance of the terms and conditions as published on the our website or contract. The booking fee will be deducted from the cost of the client’s chosen package when calculating the final balance due.</li> <br>
    <li>Payment module will be half i.e. 50% of the total amount in advance within 15 days of booking date (inclusive of the booking fee).</li> <br>
    <li>Remaining half i.e. 50% of the total amount within 14 days of service or at the time of online delivery of processed pictures..</li> <br>
    </ul>
    </p>

    <h4 class="text-white text-center pt-3">CANCELLATION POLICY</h4>
    <p class=" pt-4" style="color: rgba(255, 255, 255, 0.767);">
    <ul style="color: rgba(255, 255, 255, 0.767); list-style: disc;">
    <li>Once Client and Photographer have agreed to time(s) and date(s) for an assignment, Photographer will not accept other work from any other clients for that time(s) and date(s).</li> <br>
    <li>When Client, its assigns, or employees, postpones or cancels an assignment, or is unable to reschedule said assignment to a time and date agreeable to Photographer, Client will be responsible for payment of any and all expenses up to the time of postponement or cancellation, plus:
        <ul>
            <li>Twenty-five percent(25%) of fees for postponement, or cancellation, less than twenty-four hours from the scheduled time, or</li> <br>
            <li>Fifty percent(50%) of fees for postponement, or cancellation, after Photographer, has departed for location.</li> <br>
        </ul>
    </li> <br>
    <li>If the same assignment is rescheduled for a later date will be only with agreement with Photographer, full fee and any additional expenses will be charged for the actual shooting</li> <br>
    <li>If the same assignment is rescheduled for a later date and Photographer is not agreed with the dates due to other bookings or any other circumstances, Photographer will return the amount except the booking fee or 20% of package price whichever will be minimum and will have no further liability with respect to this Agreement, and Photographer will not be responsible or liable for any other damages beyond the amount of this Agreement.</li> <br>
    <li>Fees for cancellations and postponements will apply irrespective of the reasons for them, specifically including, but not limited to, weather conditions, Act of God, or the fault of a third party.</li> <br>
    </ul>
    </p>

    <h4 class="text-white text-center pt-3">ACCEPTANCE OF TERMS</h4>
    <p class=" pt-4" style="color: rgba(255, 255, 255, 0.767);">
    <ul style="color: rgba(255, 255, 255, 0.767); list-style: disc;">
    <li>A client may not assign or transfer this Agreement or any rights granted under it. This Agreement binds Client and inures to the benefit of Photographer, as well as their respective principals, employees, agents, heirs, legal representatives, successors, and assigns. Client and its principals, employees, agents, and affiliates, are jointly and severally liable for the performance of all payments and other obligations hereunder.</li> <br>
    <li>No amendment or waiver of any items is binding unless set forth in writing and signed by the parties. E-mail and electronic signatures will be considered legal and binding. However, the invoice may reflect, and Client is bound by, Client’s oral authorizations for any additional Image(s), fees, and expenses, that could not be confirmed in writing due to the immediate proximity of completing the assignment.</li> <br>
    <li>In addition to oral and written agreements, use of any Image(s) by Client will constitute acceptance of all the above terms and conditions.</li> <br>
    </ul>
    </p>

</div>
     

    <section class="footer" style="background-color: black; color:white; margin-top: 5%;" id="footer" >
      <footer class="page-footer font-small stylish-color-dark " style="background-color: black; color:white;">
        <div class="" style="background-color: #101010;width:100%;text-align:center;padding:25px; margin-top: 5%;">
          <div class="pt-3" style="background-color: #181818;width:100%;padding:0px;margin:0 auto">
          <div class="row mt-4">
            <div class="col-md-4 text-center" id="f1">
              <a class="" href=""><img src="./static/img/vintage_studios_logo.png" alt="" style="width: 30%; padding-right: 0px;"></a>
            </div>

            <div class="col-md-4  text-center" id="f2">
              <p style="color: white;">GET IN TOUCH</p>

                <p style="color: white; font-size: 90%">Let's start a conversation about what your perfect experience would be. 
                  Let's make that dream a reality </p>
                <div class="row " style="justify-content: space-evenly;">
                <a type="submit" class="btn text-center mt-3" style="background-color: rgba(255, 255, 255, 0.767); color:rgba(24,18,11,1); max-width: calc(100%-50px)" onMouseOver="this.style.backgroundColor='white'" onMouseOut="this.style.backgroundColor='rgba(255, 255, 255, 0.767)'" href="/contact">Contact Us</a>
                <a type="submit" class="btn text-center mt-3" style="background-color: rgba(255, 255, 255, 0.767); color:rgba(24,18,11,1); max-width: calc(100%-50px)" onMouseOver="this.style.backgroundColor='white'" onMouseOut="this.style.backgroundColor='rgba(255, 255, 255, 0.767)'" href="/pay_info">Pay now</a>

              </div>
            </div>
            
            <div class="col-md-4 text-center" id="f3">
            
              <ul class="list-unstyled list-inline text-center" >
                 <li class="list-inline-item" >
                <a class="btn-floating btn-dribbble mx-1" href="https://www.instagram.com/vintagestudios.in/">
                  <i class="fab fa-instagram fa-2x" style="color: rgba(255, 255, 255, 0.767);" onMouseOver="this.style.color='white'" onMouseOut="this.style.color='rgba(255, 255, 255, 0.767)'"> </i>
                </a>
              </li>
              <li class="list-inline-item">
                <a class="btn-floating btn-dribbble mx-1" href="https://www.youtube.com/channel/UC3NOydGfYLP5g67RBAwumAw/featured">
                  <i class="fab fa-youtube fa-2x" style="color: rgba(255, 255, 255, 0.767);" onMouseOver="this.style.color='white'" onMouseOut="this.style.color='rgba(255, 255, 255, 0.767)'"> </i>
                </a>
              </li>  
              <li class="list-inline-item">
                <a class="btn-floating btn-fb mx-1" href="https://www.facebook.com/vintagestudios.in/">
                  <i class="fab fa-facebook fa-2x" style="color: rgba(255, 255, 255, 0.767);" onMouseOver="this.style.color='white'" onMouseOut="this.style.color='rgba(255, 255, 255, 0.767)'"> </i>
                </a>
              </li>
              <li class="list-inline-item">
                <a class="btn-floating btn-fb mx-1" href="https://wa.me/+918007022022" target="_blank">
                  <i class="fab fa-whatsapp fa-2x" style="color: rgba(255, 255, 255, 0.767);" onMouseOver="this.style.color='white'" onMouseOut="this.style.color='rgba(255, 255, 255, 0.767)'"></i>
                </a>
              </li>
              </ul>
              
              <p style="color: white; font-size: 90%; text-decoration: none;"><a href = "/contact" style="text-decoration: none !important; color: white"><i class="fas fa-map-marker mx-0"></i> Pune, Maharashtra, India</a> </p>
              
              <p style="color: white; font-size: 90%; text-decoration: none;"><a href = "mailto: info@vintagestudios.in" style="text-decoration: none !important; color: white;"><i class="fas fa-envelope mx-0"></i>  info@vintagestudios.in</a> </p>
              <a href="https://g.page/vintagestudios_in/review?rc" style="text-decoration: none;"><img src="./static/img/google.png" alt="" style="width: 15%; padding-right: 0px;"></a>
              <!-- <a href="whatsapp://send?abid=8652194061&text=Hello%2C%20World!" style="text-decoration: none; color: white;"></i></a> -->
            </div>
          </div>
      <div class="footer-copyright text-center py-2">
        <!-- <hr style="background-color: white;"> -->
        <p class="mt-2">©️ 2021 All Rights Reserved. <br><br> <a href="/terms">Terms of Use</a>  and  <a href="/privacy"> Privacy Policy</a></p>

      </div>
          </div>
        </div>
    </footer>
  </section>
    <script src="./static/node_modules/aos/dist/aos.js"></script>
    <script>
      AOS.init();
</script>      
</body>
</html>